.tabela,
.tabela td,
.tabela th {
    border: 1px solid #000;
    border-collapse: collapse;
}

.tabela td,
.tabela th {
    padding: 10px;
}

.tabela {
    width: 100%;
}

.tabela th {
    color: #f1f1f1;
    background-color: #010101;
}

.tabela tr:nth-child(odd) {
    background-color: #cecece;
}

.tabela tr:hover {
    background-color: #c6ca88;
}

.container-tabela{
    overflow-x: auto;
}